{{!-- 
    <h2>Login</h2>

    <section>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" placeholder="8 Characters or More" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  </section>
  <section>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="container d-inline-flex p-2">
      <div class="form-group row m-2" >
        <label for="name-signup">Name:</label>
        <div class="col-6">
        <input class="form-input" type="text" id="name-signup" />
      </div>
      </div>
      <div class="form-group m-2">
        <label for="email-signup">Email:</label>
        <div class="col-6">

        <input class="form-input" type="text" id="email-signup" />
      </div>
      </div>
      <div class="form-group row m-2">
        <label for="email-signup">Username:</label>
        <div class="col-6">

        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group row m-2 ">
        <label for="password-signup">Password:</label>
<<<<<<< HEAD
<<<<<<< HEAD
        <input class="form-input" type="password" placeholder="8 Characters or More" id="password-signup" />
=======
        <div class="col-6">

        <input class="form-input" type="password" id="password-signup" />
>>>>>>> 46469e4746ae1f3f3d5d0de4cc35689e3e60f5e3
=======

        <input class="form-input" type="password" placeholder="8 Characters or More" id="password-signup" /
        <div class="col-6">

        <input class="form-input" type="password" id="password-signup" />
>>>>>>> ab62443e53c0a0fd582cdfae72189de24740bb68
      </div>
      <div class="form-group row m-2">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>
</section>
<script src="./js/login.js"></script> --}}
{{!-- <h1>Welcome to PedaGOgue</h1> --}}

<h2 style="text-align: center">Sign In</h2>
<form class="login-form">
  <div class="form-group">
    <label for="password-login">Username</label>
    <input type="text" class="form-control" id="username-login" placeholder="UserName">
  </div>
   <div class="form-group">
    <label for="password-login">Password</label>
    <input type="password" class="form-control" id="password-login" placeholder="Password">
  </div>
  <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign In</button>
      </div>
</form>

<h2 style="text-align: center">Sign Up</h2>
<form class="signup-form">
   <div class="form-group">
    <label for="username-signup">Name</label>
    <input type="text" class="form-control" id="name-signup" placeholder="Name">
  </div>
   <div class="form-group">
    <label for="email-signup">Email address</label>
    <input type="email" class="form-control" id="email-signup" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="username-signup">Username</label>
    <input type="text" class="form-control" id="username-signup" placeholder="Username">
  </div><div class="form-group">
    <label for="password-signup">Password</label>
    <input type="password" class="form-control" id="password-signup" placeholder="Must be at least 8 characters or more">
  </div>
  <div class="form-group row m-2">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
</form>
<script src="./js/login.js"></script> 