<div>
<p> This works!</p>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <a href='/topic/secondary/1'><button type="button" class="btn btn-secondary">STEM</button></a>
    <button type="button" class="btn btn-secondary">ELA</button>
    <button type="button" class="btn btn-secondary">Social Studies</button>
    <button type="button" class="btn btn-secondary">Classroom Management</button>
    <button type="button" class="btn btn-secondary">Electives</button>
    <button type="button" class="btn btn-secondary">Free Resources</button>
    <button type="button" class="btn btn-secondary">Miscellaneous</button>
    <button type="button" class="btn btn-secondary">Parent Communication</button>




  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-secondary">5</button>
    <button type="button" class="btn btn-secondary">6</button>
    <button type="button" class="btn btn-secondary">7</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-secondary">8</button>
  </div>
</div>

</div>