<h1 style="text-align: center"> </h1>

{{#each comments}}
<div class="card">

    <h2> {{this.name}}</h1>
    <h4> {{this.body}}</h4>
    <p>{{createdAt}}</p>
    <button class='delete-btn' name={{this.id}}>Delete </button>
     {{!-- TODO: Look at the activity that had the time formatted - format time -- --}}
</div>
{{/each}}

    

    <script>


        // Do fetch to delte comment route!!
        {{!-- $('.delete-btn').on('click', function() {
            console.log('ID of comment to delte!! send to backend route!! so it cna delte!!', $(this).attr('name'))
        }) --}}

        

        
    </script>
   <script src="/js/topic.js"></script>