<div class="p-5">

<div class="btn-toolbar d-flex" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    {{!-- <div class="container">
      <div class= "row"> 
        <div class="col-12"> --}}
          <div class="card text-center" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1453&q=80" class="card-img-top" alt="books">
          <div class="card-body">
          <h5 class="card-title" style="text-align: center">ELA 📙</h5>
          <p class="card-text" style="text-align: center"> A space for for English teachers to share information and experiences </p>
          <a href='/topic/ela/1' class="btn btn-secondary" style="text-align: center">ELA GO!</a>
        </div>
        </div>
          <div class="card text-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80" class="card-img-top" alt="the world">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">STEM 💻 </h5>
              <p class="card-text" style="text-align: center"> A space for for Math, Science, and CTE teachers to share information and experiences </p>
              <a href='/topic/STEM/2'><button type="button" class="btn btn-secondary">STEM GO!</button></a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80" class="card-img-top" alt="the world">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">Social Studies: 🌍 </h5>
              <p class="card-text" style="text-align: center">A space for for Social Studies teachers to share information and experiences </p>
              <a href='/topic/socialStudies/3'><button type="button" class="btn btn-secondary">Social Studies GO!</button></a>
            </div>
          </div>
          <div class="btn-toolbar d-flex" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="Second group">
                {{!-- <div class="container">
                  <div class="row">
                    <div class="col-6"> --}}
                      <div class="card text-center" style="width: 18rem;">
                      <img src="https://images.unsplash.com/photo-1577896851231-70ef18881754?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" class="card-img-top" alt="teacher in front of class">
                      <div class="card-body">
                       <h5 class="card-title" style="text-align: center">Classroom Management 👩🏽‍🏫</h5>
                       <p class="card-text" style="text-align: center">Classroom Management  </p>
                       <a href='/topic/classroomManagement/4'><button type="button" class="btn btn-secondary">Classroom Management GO!</button></a>
              </div>
            </div>
            </div>
            </div>
            <div>
            </div>
            {{!-- </div>
          </div>
        </div>
        </div>
      </div>
    </div> --}}
  </div>
  <div class="btn-toolbar d-flex" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="Third group">
   {{!-- <div class="container">
     <div class= "row">
       <div class="col-12"> --}}
          <div class=" card text-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1520399636535-24741e71b160?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" class="card-img-top" alt="team in a huddle">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">Electives </h5>
              <p class="card-text" style="text-align: center"> Electives ⚽️ </p>
              <a href='/topic/electives/5'><button type="button" class="btn btn-secondary">Electives GO!</button></a>
            </div>
          </div>

        <div class="card text-center" style="width: 18rem;">
          <img
            src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1453&q=80"
            class="card-img-top" alt="books">
          <div class="card-body">

            <h5 class="card-title" style="text-align: center">Free Resources 📝 </h5>
            <p class="card-text" style="text-align: center">YAY!! Finally a place for teacher's to share free found resources  </p>
            <a href='/topic/freeResources/6'><button type="button" class="btn btn-secondary">Free Resources GO!</button></a>

          </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
          <img
            src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80"
            class="card-img-top" alt="the world">
          <div class="card-body">

            <h5 class="card-title" style="text-align: center">Miscellaneous :apple:</h5>
            <p class="card-text" style="text-align: center">Anything else a teacher may need that does not fit into the other categories/ Fun Stuff! </p>
            <a href='/topic/miscellaneous/7'><button type="button" class="btn btn-secondary">Miscellaneous GO</button></a>

          </div>
        </div> --}}
        <div class="card text-center" style="width: 18rem;">
          <img
            src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80"
            class="card-img-top" alt="the world">
          <div class="card-body">

            <h5 class="card-title" style="text-align: center">Parent Communication ☎️ </h5>
            <p class="card-text" style="text-align: center">Anything else a teacher may need when attempting to communicate with parents </p>
            <a href='/topic/parentCommunication/7'><button type="button" class="btn btn-secondary">Parent Communication GO</button></a>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
   </div>
</div>

