<h1 style="text-align: center"> {{title}} coming soon!!</h1>

{{#each comments}}
<div class="card">
    <h1> {{this.body}}</h1>
    <p>{{createdAt}}</p>
    <button class='delete-btn' name={{this.id}}>Delete </button>
     {{!-- TODO: Look at the activity that had the time formatted - format time -- --}}
</div>
{{/each}}
    <button type="button" class="btn btn-info" id="newPost">Add a Post</button>

    

    <script>


        // Do fetch to delte comment route!!
        $('.delete-btn').on('click', function() {
            console.log('ID of comment to delte!! send to backend route!! so it cna delte!!', $(this).attr('name'))
        })
    </script>