.card,
header {
  background-color: rgba(210, 207, 207, 0.49);
  margin-bottom: 2rem;
}

label {
  font-size: 20px;
  color: yellow;
  /* text-shadow: -.5px -.5px 0 yellow,
  .5px -.5px 0 yellow,
  -.5px .5px 0 yellow,
  .5px .5px 0 yellow; */
}

h2 {
color: cyan;
font-weight: 600;
text-shadow: -1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}

#welcome {
  color: limegreen;
  font-style: initial;
  font-weight: 800;
  font-style: italic;
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}

#profileBTN {
  background-color: grey;
  color: green;
  font-style: oblique;
  font-weight: 800;
}

#topicListBTN {
  background-color: grey;
  color: yellow;
  font-style: oblique;
  font-weight: 800;
}

#logout {
  background-color: grey;
  color: red;
  font-style: oblique;
  font-weight: 800;
}

.imageCycle1 {
  background-image: url('https://project2ejmq.s3.us-east-2.amazonaws.com/f-a-grafie-crsXk59cIsk-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* Photo by <a href="https://unsplash.com/@katie_musial?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Katie Musial</a> on <a href="/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
}
.imageCycle2 {
  background-image: url('https://images.unsplash.com/photo-1616256074022-3a20e0e8bf1b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2002&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  /* Photo by <a href="https://unsplash.com/@fa1998?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">F.A. Grafie</a> on <a href="/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
}

.imageCycle3 {
  background-image: url('https://images.unsplash.com/photo-1596808906571-bb7db143fcdf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2167&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  /* Photo by <a href="https://unsplash.com/@watcharlie?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">watcharlie</a> on <a href="/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
}

.imageCycle4 {
  background-image: url('https://images.unsplash.com/photo-1616164426318-22c1dbd6ce53?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  /* Photo by <a href="https://unsplash.com/@haroldwainwright?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Harold Wainwright</a> on <a href="/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
}

.imageCycle5 {
  background-image: url('https://images.unsplash.com/photo-1616213320857-b5c3669e472e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  /* Photo by <a href="https://unsplash.com/@haroldwainwright?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Harold Wainwright</a> on <a href="/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
}

.imageCycle6 {
  background-image: url('https://unsplash.com/photos/NPct-Mxw-64?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink');
  background-repeat: no-repeat;
  background-size: cover;
}

.imageCycle7 {
  background-image: url('https://unsplash.com/photos/JDAwS0pwCtY');
  background-repeat: no-repeat;
  background-size: cover;
  /* Photo by <a href="https://unsplash.com/@sagedg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sage Galbreath</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
}

.imageCycle8 {
  background-image: url('https://images.unsplash.com/photo-1561748801-2444e157e399?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1535&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  /* Photo by <a href="https://unsplash.com/@yusufevli?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Yusuf Evli</a> on <a href="https://unsplash.com/t/wallpapers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
}
